django<3
celery[redis]
django-model-utils
django-webpack-loader==0.7.0
django-js-reverse
django-import-export
python-decouple
psycopg2
brotlipy
django-log-request-id
dj-database-url
gunicorn
whitenoise
psutil
ipython
sentry-sdk
djangorestframework
requests
django-templated-email
social-auth-app-django
django-cors-headers

