{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poke Battle</title>
  <style>
    body {
      background: #EFEFBB;
      background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
      color: white;
      margin: 0;
      font-family: rubik;
    }
  </style>
</head>

<body>
  <div>
    <a class="button_battle" href="{% url 'home' %}" role="button">
      <p class="text_button">Back</p>
    </a>

    <h1>Ongoing Battles</h1>

    <h3>Battles I created!</h3>
    {% if ongoing_created_battles.all %}
      {% for instance in ongoing_created_battles %}
        <li>
          <a href="{% url 'battle_detail' pk=instance.id %}?">Battle {{ instance.id }}</a>
        </li>
      {% endfor %}
    {% else %}
      <p>There are no battles yet!</p>
    {% endif %}

    <h3>Battles I was invited!</h3>
    {% if ongoing_invited_battles.all %}
      {% for instance in ongoing_invited_battles %}
        <li>
          <a href="{% url 'battle_detail' pk=instance.id %}?">Battle {{ instance.id }}</a>
        </li>
      {% endfor %}
    {% else %}
      <p>There are no battles yet!</p>
    {% endif %}

    <h1>Settled Battles</h1>

    <h3>Battles I created!</h3>
    {% if settled_created_battles.all %}
      {% for instance in settled_created_battles %}
        <li>
          <a href="{% url 'battle_detail' pk=instance.id %}?">Battle {{ instance.id }}</a>
        </li>
      {% endfor %}
    {% else %}
      <p>There are no battles yet!</p>
    {% endif %}

    <h3>Battles I was invited!</h3>
    {% if settled_invited_battles.all %}
      {% for instance in settled_invited_battles %}
        <li>
          <a href="{% url 'battle_detail' pk=instance.id %}?">Battle {{ instance.id }}</a>
        </li>
      {% endfor %}
    {% else %}
      <p>There are no battles yet!</p>
    {% endif %}
  </div>

</body>

</html>
