{% extends "battling/base.html" %}

{% block content %}
{% for message in messages %}
<div class="messages">
  {{message}}
</div>
{% endfor %}
<a class="button_battle" href="{% url 'create_battle' %}" role="button">
  <p class="text_button">Create a new battle</p>
</a>

<a class="button_battle" href="{% url 'settled_battles' %}" role="button">
  <p class="text_button">Settled battles</p>
</a>

<a class="button_battle" href="{% url 'ongoing_battles' %}" role="button">
  <p class="text_button">Ongoing battles</p>
</a>
{% endblock %}
